// @media (min-width: $screen-lg-min) {
//   .about-us {
//     .section {
//       padding-top: 6em;
//       padding-bottom: 6em;
//     }
//   }
// }


.about-page {
    .section {
        .row {
            h1 {
                margin-top: 0;
            }
        }
    }
}

.image-list {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;



}

.resize {
    height: 8em;
    display: flex;
    justify-content: center;
    padding: 1em;

    img {
        max-height: 100%;
        max-width: 100%;
        margin: auto 0;
        object-fit: scale-down;

    }
}

.hero {
    .text-big {
        color: $brand-secondary;
    }
}

.hero-light {

    background-color: $brand-light;

    .button-secondary {
        &:hover {
            border-color: $brand-dark;
        }
    }

    .container {
        color: $brand-dark;
    }
}

.hero-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-image {
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: contain;
    height: 20em;
}

.about-us {
    h2 {
        @extend .text-big
    }
}