 .fc-unthemed .fc-list-heading td {
      background-color: transparent;
  }
.fc-list-view {
  border-width: 0;
}
.fc-unthemed .fc-list-item:hover td {
  background-color: $brand-secondary;
  color: $brand-dark;
}
