html {
  margin-top: 0px !important;
}

.text-vertical {
  height: auto;
  font-weight: $heading-weight;
  padding: 1.2em;
  @include prefix((writing-mode: vertical-lr), webkit moz);
}

a {
  .arrow-big {
    @extend a;
    height: 0.5em;
    max-height: 2em;
    background-image: url("../resources/Polygondownarrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0.3em;
  }

  &:hover {
    .arrow-big {
      color: $brand-secondary;
      opacity: 0.7;
    }

    &:active {
      .arrow-big {
        opacity: 1;
      }
    }
  }
}
@media only screen and (min-width: $screen-md-min) {
  a {
    .arrow-big {
      height: 1em;
    }
  }
}
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .container {
    padding-left: 12em;
    padding-right: 12em;
  }
}
@media only screen and (max-width: $screen-sm-max) {
  .hidden-mobile {
    display: none;
  }
}
@media only screen and (min-width: $screen-lg-min) {
  .page-title:first-child {
    margin-top: 0.9em;
  }
}
