//css for header overlay
//
//
//calculate menu padding
$intended-menu-padding: 2.5em;
$menu-padding: $intended-menu-padding / 3; //desktop border
$desktopborder: 3em;

header {
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  box-sizing: border-box;
  pointer-events: none;

    max-width: $container-maxwidth + 500px;
  a {
    color: $brand-light;
    display: block;
    padding-bottom: $menu-padding;
    font-weight: $subheading-weight;
  }

  li {
    text-transform: lowercase;
    margin-top: 0;
    margin-bottom: $menu-padding + $menu-padding;
    pointer-events: auto;

  }

  .subheader {
    ul {
      position: relative;
      display: block;
      border-style: solid;
      border-color: $brand-light;
      overflow-y: hidden;
      margin: 0;
    }

    li {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;


      a {
        font-weight: $font-weight-base;
        padding-bottom: 0;
      }
    }
  }
}

.header-overlay {
  font-size: 1.3em;
  position: relative;
  height: 100vh;
  display: flex;
  background-color: rgba(0,0,0,0.8);
  pointer-events: auto;
  justify-content: center;
  align-items: center;

  ul {
    z-index: 3;
    pointer-events: auto;
    list-style-type: none;
    flex-direction: column;
    text-align: center;
  }
}


.header-footer {
  .copyright {
    color: $brand-secondary;
  }

  .contact {
    i {
      text-align: center;
      // part of trying to fix the contact div not being vertially centered
      // explained like a couple of lines below
      font-weight: $font-weight-base;
      font-size: $font-size-base-large;
      margin: 0;




    }
    a {
      width: auto;
      pointer-events: auto;
      vertical-align: middle;
      padding: 0;
      color: $brand-light;
    }
  }
}

// the contact div doesnt center vertically so here is a hack to fix it
// has to do with font sizes along with the .contact class
// the icons need to be bigger then the text font for some weird reason

//update: I think i redid this so i dont need this hack but i dont remember
@media only screen and (min-width: 768px) {
  .header-footer {
    a {
      font-size: $font-size-base;;
    }
  }
}
//toggles menu on mobile

.no-scroll {
  overflow: hidden;
}

[aria-hidden="true"] {
  display: none;
}

[aria-hidden="false"] {
  display: flex;
}
//mobile header

.header-mobile {
  z-index: 3;
  pointer-events: auto;
  width: 100%;
  position: absolute;
  padding: 1em;
  display: block;

  .hamburger {
    float: right;
  }
}

// things that happen only on mobile
@media only screen and (max-width: $screen-md-max) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }

  .main-logo {
    display: none;
  }

  .subheader {
    ul {
      border-left-width: 0.15em;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  .header-footer {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em 1em 1em 2em;

    .copyright {
      display: none;
    }
    .contact {
      display: inline-flex;
      align-items: center;
      div {
        margin-right: 1em;
        vertical-align: middle;
        height: 100%;
      }
    }
  }

  .aligner-space-between {
    display: block;
    width: auto;
  }
}
// desktop experience
@media only screen and (min-width: $screen-lg-min) {
  [data-aos-delay] {
    transition-delay: 500 !important;
  }

  .header-overlay {
    font-size: $font-size-base-large;
    margin-top: $desktopborder;
    margin-left: $desktopborder;
    margin-right: $desktopborder;
    padding-bottom: $desktopborder;
    background-color: rgba(0,0,0,0.0);
    pointer-events: none;
    justify-content: inherit;
    align-items: inherit;

    ul {
      padding: 0;
      text-align: right;
      position: absolute;
      right: 0;
      z-index: inherit;

      .subheader {
        ul {
          border-right-width: 0.15em;
        }

        li {
          margin-right: 1rem;
          font-weight: $font-weight-base;
        }
      }
    }
  }

  .header-mobile {
    display: none;
  }

  .main-logo {
    width: auto;
    position: absolute;
    text-align: center;
    font-size: 1.28em;
    font-weight: $subheading-weight;
    color: $brand-secondary;
    pointer-events: auto;
    img {
      width: 5em;
    }
    a {
      color: $brand-secondary;

    }
  }
// stick footer to bottom
  .header-footer {
    margin-top: auto;
    width: 100%;
    max-width: 100%;
    font-weight: $subheading-weight;
    position: inherit;
    padding-bottom: 1em;

    .copyright {
      font-size: 0.5rem;
      display: inherit;
      margin-bottom: 0.5em;
    }

    .contact {
      text-align: right;
    }
  }
}
@media only screen and (min-width: $screen-xlg-min) {
  .header-footer {
    .copyright {
      font-size: 0.7rem;
    }
  }
}
@media only screen and (min-width: $container-maxwidth + 500px) {
  header {
    left: 50%;
    transform: translate(-50%, 0);
  }

}
