@charset 'UTF-8'; //menu on mobile

.mobile-menu {
  font-size: 0.5rem;
  background-color: $body-bg;
  z-index: 1;
  width: 100%;
  overflow: auto;
  position: fixed;
  padding: 1em;
  // box-shadow: 0em 0.05em 1em 0em $brand-dark;
}

.main-body {
  padding-top: 4rem;
}

.mobile-menu .section {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  float: right;
}

.mobile-logo {
  padding: none;
  margin: none;
  font-weight: $heading-weight;
  align-self: center;
  float: left;
  padding: 1em;
  font-size: 2em;
  float: left;
}

.menu .hamburger {
  pointer-events: auto;
  float: right;
}
//large screen menu

.menu {
  z-index: 2;
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Make it stick, even on scroll */
  overflow: auto;
  float: left;
  font-size: 1rem;
  font: $basefont;
  padding: 1em 1.75em 0.5em 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.center-menu-div {
  margin: 0 auto;
  max-width: $container-maxwidth + 500px;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
}

.menu a {}

.menu .logo-header {
  float: left;
  font-size: 0.7em;
  display: none;
}

.menu .logo-flex {
  display: flex;
  padding: 1em 0;
  color: $brand-secondary;
  font-weight: $heading-weight;
}
$logo-size: 3em;
$logo-padding: 1em;
$rotate-origin: ($logo-size / 2) + $logo-padding + 0.05em;

.vertical {
  transform: rotate(90deg);
  transform-origin: $rotate-origin center;
  pointer-events: auto;
}

.menu h1 {
  //  transform: rotate(90deg);
  padding: $logo-padding;
  align-self: center;
  display: block;
  color: $brand-secondary;
  font-size: 1.3em;
}

.menu .logo-icon {
  fill: $brand-secondary;
  height: $logo-size;
  margin-left: 1.1em;
  align-self: center;
}

.menu ul {
  padding-top: 0.5em;
  display: none;
  pointer-events: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  text-align: right;
}

.menu li {
  margin-bottom: 0;
}

.menu li a {
  pointer-events: auto;
  display: block;
  color: $brand-light;
  font-weight: $subsubheading-weight;
  font-size: 1rem;
  padding: 1em 0;
  text-decoration: none;
}
/* Change the link color on hover */
.menu li a:hover {
  color: $brand-secondary;
}

.subheader {
  //font-size: 1rem;
}

.subheader ul {
  display: block;
  border-style: solid;
  border-right-width: 0.25em;
  border-color: $brand-light;
  overflow-y: hidden;
}

.subheader li a {
  font-size: 0.8em;
  padding: 0.8em 0.8em 0.8em 0;
}

.menu .footer {
  bottom: 1em;
  font-size: 0.85rem;
  font-weight: $subheading-weight;
  position: absolute;
  margin: 0 3.5em; //  width: 100%;
  display: none;
}

.menu .footer a {
  color: $brand-light;
  padding-right: 1em;
}

.menu .footer p {
  font-weight: $subheading-weight;
  padding: 0 1em;
  color: $brand-secondary;
  margin-bottom: 0;
}

.menu .social {
  position: fixed;
  bottom: 1em;
  right: 1.75rem;
}
//edit grid padding
@media only screen and (min-width: $screen-xs-min) {}
@media only screen and (min-width: $screen-sm-min) {
  .main-body {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
  }

  .menu .logo-header {
    display: block;
  }

  .mobile-logo {
    display: none;
  }

  .mobile-menu {
    pointer-events: none;
    padding-top: 3em;
    background: none;
  }

  .menu .hamburger {
    pointer-events: auto;
    float: right;
  }
}
@media only screen and (min-width: $screen-md-min) {
  .main-body {
    padding-left: 8em;
    padding-right: 0;
    padding-top: 1.5em;
  }

  .menu .logo-header {
    font-size: 1.3em;
  }

  .menu ul li {
    font-size: 1.1rem;
  }

  .menu .footer {
    display: flex;
  }
}
@media only screen and (min-width: $screen-lg-min) {
  .mobile-menu {
    display: none;
  }

  .main-body {
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 1.5em;
  }

  .menu ul {
    display: block;
  }
}
@media only screen and (min-width: $screen-xlg-min) {
  .main-body {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
  }
}
