.vertical {
  transform: rotate(90deg);
  transform-origin: 2.2em center;
  pointer-events: auto;
}

.menu {
  pointer-events: none;
  z-index: 2;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%;
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto;
  float: left;
  font-size: 1.25rem;
  font: $basefont;
  padding: 0.5em;
  margins: 1em 0em;
}

.menu a {

}

.menu .logo-header {
  float: left;
  font-size: 1.5em;


}

.menu .logo-flex {
  display: flex;
  padding: 0.5em 0;
  color: $brand-secondary ;
  font-weight: $heading-weight;

}

.menu h1 {
//  transform: rotate(90deg);
  padding:0.75em ;
  align-self: center;
  display:block;
  color: $brand-secondary;
}
.menu .logo-icon {
  fill: $brand-secondary;
  height:3em;
  margin: 0.5em;

}

.menu ul {
    pointer-events: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10em;
    float:right;
    text-align: right;
}

.menu li a {
    pointer-events: auto;
    display: block;
    color: $brand-light;
    font-weight: $subheading-weight;
    font-size: 1.1em;
    padding: 1em 1.25em;
    text-decoration: none;
}

/* Change the link color on hover */
.menu li a:hover {
    color: $brand-secondary;
}



.menu .footer {
  bottom: 1em;
  font-size: 1rem;
  font-weight: $font-size-base;
  position: absolute;

}
